.logo{
    height: 50px;
    margin-right: 20px;
    margin-left: 10px;
}
.navbar{
    background-color: #1c2331;
    color: aliceblue;
    position: fixed;
    width: 100vw;
   
}
a{
    color: aliceblue;
}

button{
    color: aliceblue;
    border-color: aliceblue;
}