<!--
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  <img class="logo" src="../../assets/logo-maker-gris.svg" />

  <a class="navbar-brand min" href="/inicio">Inicio</a>

  <a class="navbar-brand min" href="/productos">Productos</a>

  <a class="navbar-brand min" href="/blog">Blog</a>
  
  <a class="navbar-brand min" href="/sobre-nosotros">Acerca de nosotros</a>
  
  <a class="navbar-brand min" href="/contacto">Contacto</a>

</nav>
-->
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="index.html"
      ><img class="logo" src="../../assets/logo-maker-gris.svg"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="material-symbols-outlined"> menu </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto py-4 py-lg-0">
        <li class="nav-item">
          <a class="nav-link px-lg-3 py-3 py-lg-4" href="/inicio">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-lg-3 py-3 py-lg-4" href="/productos">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-lg-3 py-3 py-lg-4" href="/blog"
            >Blog</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link px-lg-3 py-3 py-lg-4" href="/sobre-nosotros"
            >Acerca de nosotros</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link px-lg-3 py-3 py-lg-4" href="/contacto"
            >Contacto</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
