<!--
<div class="footer">
    <p>footer works!</p>
</div>
-->
<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Conéctate con nosotros a travez de nuestras redes sociales:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="https://www.facebook.com/MakerComputer?modal=admin_todo_tour" class="me-4 text-reset">
            <img src="../../assets/iconosRedes/facebook.png" class="icon"/>
        </a>
        <a href="https://www.instagram.com/makercomputercol/?hl=es" class="me-4 text-reset">
            <img src="../../assets/iconosRedes/instagram.png" class="icon"/>
        </a>
        <a href="https://www.youtube.com/channel/UCT3l9hggUif-9HUV7AH8tZQ" class="me-4 text-reset">
            <img src="../../assets/iconosRedes/youTube.png" class="icon"/>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
                <img src="../../assets/iconosFooter/diamante.png" class="icon"/>MAKER COMPUTER
            </h6>
            <p>
                Somos los mayores importadores de lotes de computadores remanufacturados del país.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Productos
            </h6>
            <p>
              <a href="#!" class="text-reset">Lotes de CPU</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Lotes de portatiles</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Lotes de Combos</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Política de privacidad y términos de servicio</a>
            </p>
          </div>
          
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><img src="../../assets/iconosFooter/casa.png" class="icon"/>Cra. 64 #98 - 26, Barrios Unidos, Bogotá</p>
            <p>
                <img src="../../assets/iconosFooter/correo.png" class="icon"/>
                contacto@makercomputer.com
            </p>
            <p><img src="../../assets/iconosFooter/telefono.png" class="icon"/>+57 321 3371683</p>
            <p><img src="../../assets/iconosFooter/impresora.png" class="icon"/>(601) 784 55 57</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        Copyright © 2023 Maker Computer. Todos los derechos reservados
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->