<div class="row titulo">
  <div class="col-sm-6 col-6 col-md-6">
    <h1>Productos</h1>
  </div>
  <div class="col-sm-6 col-6 col-md-6">
  </div>
</div>

<ul class="list-group list-group-light">
  <li
    class="list-group-item justify-content-between align-items-center"
    
  >
    <div class="row">
      <div class="col-6 col-sm-6 col-md-3 centrarVertical">
        <img
          src="https://assets.tmecosys.com/image/upload/t_web767x639/img/recipe/ras/Assets/05bab5cb-f8b6-487d-a509-f38031ea2708/Derivates/142b07d0-cedc-44f8-8569-e0222afab308.jpg"
          style="width: 80px; height: 80px"
          class="rounded-circle"
        />
      </div>
      <div class="col-6 col-sm-6 col-md-3">
        <p class="fw-bold mb-1">
           <span></span>
        </p>
        <p class="text-muted mb-0"><span>Correo: </span></p>
        <p class="text-muted mb-0"><span>Cargo: </span></p>
      </div>
      <div class="col-6 col-sm-6 col-6 col-md-3 centrarVertical">
        <button
          class="btn btn-primary"
        >
          actualizar
        </button>
      </div>
      <div class="col-6 col-sm-6 col-6 col-md-3 centrarVertical">
        <button class="btn btn-danger" >
          Borrar
        </button>
      </div>
    </div>
  </li>
</ul>
